<div>
    <!-- Titulos -->
    <h1>ULima 2077</h1>
    <h3 id="titulo_cabecera">Tu catálogo virtual</h3>
</div>
<div id="menu">
    <!-- Menu -->
    <a href="catalogo.html" class="menu_item">Catálogo</a>
    <a href="carrito.html" class="menu_item">Carrito</a>
    <a href="#" class="menu_item">Sobre nosotros</a>
</div>